
.section-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: @page-min-width;
    padding-top: 30px;

    @media (min-width: @screen-lg-min) {
        padding-top: 50px;
    }


    &-title {
        width: 100%;
        padding: 25px 0px;
        line-height: 1.1;
        text-align: center;

        & h2 {
            word-spacing: 6px;
            letter-spacing: 3px;
        }

        & h6 {
            letter-spacing: 1px;
            margin-top: 15px;

            &:before {
                content: "~ ";
            }

            &:after {
                content: " ~";
            }
        }
    }

    &-body {
        width: 100%;
        background-color: #f1f1f1; //#f6f7f9;; //#eaf3e8;
        min-height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;


        &-block {
            padding: 15px;
        }

        &-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            min-width: 1200px;

            @media (min-width: @screen-lg-min) {
                min-width: 1380px;
            }
        }
    }

    a.href-label {
        padding: 0px 2px;
        color: #18BC9C;
        text-decoration: none;

        &:hover {
            color: #fff;
            background-color: #128f76;
            border-radius: 3px;
        }
    }
}


.picture-warp {
    background-color: white;
    margin: 10px 5px;
    width: 190px;
    /*float: left;*/
    /*border-radius: 5px;*/
    @media (min-width: @screen-lg-min) {
        margin: 15px 10px;
        width: 210px;
    }


    &:hover {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    }

    a {
        img {
            width: 190px;

            @media (min-width: @screen-lg-min) {
                width: 210px;
            }
        }
    }

    .picture-info {
        color: #666;

        .picture-title {
            line-height: 30px;
            padding: 0px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            white-space: nowrap;
            width: 210px;
            height: 30px;
            display: block;
        }

        .picture-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #bbb;
            font-size: 12px;
            line-height: 30px;
            padding: 0px 10px;

            &-tag {
                justify-content: flex-start;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 24px;
                    height: 30px;
                    display: block;

                    @media (min-width: @screen-lg-min) {
                        width: 36px;
                    }

                    &:not(:first-child) {
                        margin-left: 2px;
                    }

                    &:hover {
                        color: #4f946e;
                        cursor: pointer;
                    }
                }
            }

            &-num {


                span {
                    &:not(:first-child) {
                        margin-left: 3px;
                    }

                    height: 25px;

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 16px;
                        height: 30px;
                        vertical-align: top;
                        margin-right: 2px
                    }
                }

                .essay-like-num:before {
                    background: url(../image/svg/essay-like.svg?v=1) 0 7px no-repeat;
                    background-size: 16px auto;
                }

                .essay-collect-num:before {
                    background: url(../image/svg/essay-collect.svg?v=1) 0 6px no-repeat;
                    background-size: 16px auto;
                }

                .essay-repost-num:before {
                    background: url(../image/svg/essay-repost.svg?v=1) 0 9px no-repeat;
                    background-size: 16px auto;
                }
            }
        }

        .picture-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top: 1px solid #f6f7f9;
            line-height: 50px;
            padding: 0px 10px;
            font-size: 12px;

            .essay-avatar {
                margin-right: 5px;

                img {
                    border-radius: 15px;
                    width: 30px;
                    height: 30px;
                }
            }

            .essay-city {

                &:after {
                    content: " . ";
                }
            }
        }
    }
}




.section-userinfo {

    &-title {
        padding: 15px 0px;
        line-height: 1.1;
        text-align: center;

        & h2 {
            word-spacing: 8px;
            letter-spacing: 2px;
            margin: 10px auto;
        }

        & h6 {
            letter-spacing: 1px;
            margin: 10px auto;
        }
    }

    &-body {
        width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-left {
        display: inline-block;
        width: 360px;


        &-title {
            width: 100%;
            white-space: nowrap;
            color: #b6b6b6;
            display: inline-block;
            padding: 10px 0px;
            line-height: 24px;
        }

        .picture-warp {
            float: left;
            min-width: 170px;
            min-height: 170px;

            &:nth-child(even) {
                margin-bottom: 30px;
            }

            &:nth-child(odd) {
                margin-left: 20px;
                margin-bottom: 30px;
            }

            img {
                border-radius: 3px;
            }

            .picture-desc {
                padding: 3px 0;

                .picture-name {
                    margin-right: 5px;
                }

                .picture-num {
                    margin-right: 5px;
                    color: #ccc;
                }

                .picture-like {
                    margin-right: 5px;
                }
            }
        }
    }

    &-middle {
        display: inline-block;
        width: 600px;

        .isay-info {
            width: 100%;
            background-color: #f4f4f4;
            padding: 10px 8px;
            border-radius: 5px;
            margin-bottom: 50px;


            &-input {
                border: 0px;
                color: initial;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                display: inline-block;
                text-align: start;
                padding: 3px;
                font-size: 14px;
                resize: none;


                &:focus {
                    outline: none;
                    outline-color: initial;
                    outline-style: none;
                    outline-width: initial;
                }
            }

            &-head {
                width: 100%;

                .isay-info-title {
                    line-height: 25px;
                    margin-bottom: 6px;
                    width: 50%;
                    display: inline;
                }

                .isay-info-category {
                    line-height: 25px;
                    margin-bottom: 6px;
                    width: 50%;
                    display: inline;

                    &-span {
                        padding: 5px 12px;
                        cursor: pointer;
                        border: 1px solid white;
                        border-radius: 5px;
                        background-color: #49cc90;
                        color: white;
                        margin-left: 8px;

                        &:hover {
                            background-color: #039993;
                        }

                        &-checked {
                            background-color: #039993;
                        }
                    }
                }
            }

            &-body {
                width: 100%;

                textarea {
                    width: 100%;
                }
            }

            &-buttom {
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;



                &-medias {
                    &-item {
                        width: 50px;
                        height: 50px;
                        border-radius: 3px;
                        float: left;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }

                &-btns {
                    height: 50px;
                    line-height: 50px;

                    .isay-info-submit {
                        font-size: 14px;
                        min-width: 80px;
                        padding: 6px 15px;
                        text-align: center;
                        border-radius: 3px;
                        background: #49cc90;
                        text-shadow: 0 1px 0 rgba(0,0,0,.1);
                        color: #fff;

                        &:hover {
                            background: #039993;
                        }
                    }
                }
            }
        }

        .essay-info {
            width: 100%;
            display: inline-block;

            &-right {

                &-buttom {
                    li {
                        font-size: 12px;
                        overflow: hidden;
                        white-space: nowrap;
                        color: #b6b6b6;

                        a {
                            margin-left: 10px;
                        }
                    }

                    &-tags {
                        float: left;
                    }

                    &-nums {
                        float: right;
                    }
                }
            }
        }
    }

    &-right {
        display: inline-block;
        width: 220px;

        ul {
            padding: 0px 10px;
            //sborder-top: 1px dotted #b6b6b6;
            li {
                overflow: hidden;
                white-space: nowrap;
                color: #b6b6b6;
                border-bottom: 1px dotted #b6b6b6;
                padding: 8px 0px;
                line-height: 24px;

                &:first-child {
                    line-height: 34px;
                }


                span.section-host-right-li-num {
                    float: left;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    font-size: 16px;
                    margin-right: 10px;
                    background: #ec4d00;
                    color: #fff;
                }

                div.section-host-right-li-left {
                    display: inline-block;
                    float: left;
                }

                div.section-host-right-li-right {
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
}
