
.section-style {
    display: inline-block;
    width: 100%;
    padding: 50px 260px;
}

.section-title {
    padding: 15px 0px;
    line-height: 1.1;
    text-align: center;

    & h2 {
        word-spacing: 8px;
        letter-spacing: 2px;
        margin: 10px auto;
    }

    & h6 {
        letter-spacing: 1px;
        margin: 10px auto;
    }
}


.section-host {
    min-height: 400px;

    &-left {
        min-width: 200px;
        max-width: 380px;
        width: 30%;
        float: left;
        padding: 10px;

        .picture-warp {
            margin: 0 5px 10px 5px;
            min-width: 170px;
            min-height: 170px;
            float: left;

            img {
                border-radius: 3px;
            }

            .picture-desc {
                padding: 3px 0;

                .picture-name {
                    padding-right: 5px;
                }

                .picture-num {
                    padding-right: 5px;
                    color: #ccc;
                }

                .picture-like {
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    padding: 0px 5px;
                }
            }
        }
    }

    &-middle {
        width: 50%;
        float: left;
        padding: 10px;

        .essay-info {
            width: 100%;
            display: inline-block;

            &-right {

                &-buttom {
                    li {
                        font-size: 12px;
                        overflow: hidden;
                        white-space: nowrap;
                        color: #b6b6b6;

                        a {
                            margin-left: 10px;
                        }
                    }

                    &-tags {
                        float: left;
                    }

                    &-nums {
                        float: right;
                    }
                }
            }
        }
    }

    &-right {
        width: 20%;
        border: 1px solid red;
        float: left;
        padding: 5px 5px;
    }
}
