
.section-style
{
padding:60px 80px;

}

.section-title
{
  line-height: 1.1;
  text-align:center;
  & h2
  {
    word-spacing: 8px;
    letter-spacing: 2px;
    margin:10px auto;
  }
   & h6
  {
    letter-spacing: 1px;
    margin:10px auto;
  }
}
