
.section-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 45px 0px;

    a.href-label {
        padding: 0px 2px;
        color: #18BC9C;
        text-decoration: none;

        &:hover {
            color: #fff;
            background-color: #128f76;
            border-radius: 3px;
        }
    }
}


.section-host {


    &-title {
        padding: 15px 0px;
        line-height: 1.1;
        text-align: center;

        & h2 {
            word-spacing: 6px;
            letter-spacing: 3px;
        }
        /*& h6 {
            letter-spacing: 1px;
            margin: 10px auto;
        }*/
    }

    &-secondtitle {
        /*display: inline-block;
        width: 16.6%;
        min-height: 100px;
        float: left;
        padding: 15px;
        line-height: 25px;*/
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > div {
            width: 200px;
            margin: 0px 10px;
        }
    }
}

.section-picture {
    background-color: #f6f7f9; //#eaf3e8;
    &-list {
        width: 1300px;

        .picture-warp {
            margin: 20px 12px;
            background-color: white;
            min-width: 190px;
            min-height: 180px;
            float: left;
            border-radius: 5px;

            &:hover {
                box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
            }

            img {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            .picture-info {
                padding: 8px 5px;
                color: white;
                line-height: 25px;

                .picture-fond {
                    color: #ccc;
                }

                .picture-desc {
                }
            }
        }
    }
}


.section-userinfo {

    &-title {
        padding: 15px 0px;
        line-height: 1.1;
        text-align: center;

        & h2 {
            word-spacing: 8px;
            letter-spacing: 2px;
            margin: 10px auto;
        }

        & h6 {
            letter-spacing: 1px;
            margin: 10px auto;
        }
    }

    &-body {
        width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-left {
        display: inline-block;
        width: 360px;


        &-title {
            width: 100%;
            white-space: nowrap;
            color: #b6b6b6;
            display: inline-block;
            padding: 10px 0px;
            line-height: 24px;
        }

        .picture-warp {
            float: left;
            min-width: 170px;
            min-height: 170px;

            &:nth-child(even) {
                margin-bottom: 30px;
            }

            &:nth-child(odd) {
                margin-left: 20px;
                margin-bottom: 30px;
            }

            img {
                border-radius: 3px;
            }

            .picture-desc {
                padding: 3px 0;

                .picture-name {
                    margin-right: 5px;
                }

                .picture-num {
                    margin-right: 5px;
                    color: #ccc;
                }

                .picture-like {
                    margin-right: 5px;
                }
            }
        }
    }

    &-middle {
        display: inline-block;
        width: 600px;

        .isay-info {
            width: 100%;
            background-color: #f4f4f4;
            padding: 10px 8px;
            border-radius: 5px;
            margin-bottom: 50px;

            &-input {
                border: 0px;
                width: 100%;
                color: initial;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                display: inline-block;
                text-align: start;
                padding: 3px;
                font-size: 14px;
                resize: none;


                &:focus {
                    outline: none;
                    outline-color: initial;
                    outline-style: none;
                    outline-width: initial;
                }

                &:first-child {
                    line-height: 25px;
                    margin-bottom: 6px;
                }
            }


            &-buttom {
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;



                &-medias {
                    &-item {
                        width: 50px;
                        height: 50px;
                        border-radius: 3px;
                        float: left;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }

                &-btns {
                    height: 50px;
                    line-height: 50px;

                    &-submit {
                        font-size: 14px;
                        min-width: 80px;
                        padding: 6px 15px;
                        text-align: center;
                        border-radius: 3px;
                        background: #49cc90;
                        text-shadow: 0 1px 0 rgba(0,0,0,.1);
                        color: #fff;
                    }
                }
            }
        }

        .essay-info {
            width: 100%;
            display: inline-block;

            &-right {

                &-buttom {
                    li {
                        font-size: 12px;
                        overflow: hidden;
                        white-space: nowrap;
                        color: #b6b6b6;

                        a {
                            margin-left: 10px;
                        }
                    }

                    &-tags {
                        float: left;
                    }

                    &-nums {
                        float: right;
                    }
                }
            }
        }
    }

    &-right {
        display: inline-block;
        width: 220px;

        ul {
            padding: 0px 10px;
            //sborder-top: 1px dotted #b6b6b6;
            li {
                overflow: hidden;
                white-space: nowrap;
                color: #b6b6b6;
                border-bottom: 1px dotted #b6b6b6;
                padding: 8px 0px;
                line-height: 24px;

                &:first-child {
                    line-height: 34px;
                }


                span.section-host-right-li-num {
                    float: left;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    font-size: 16px;
                    margin-right: 10px;
                    background: #ec4d00;
                    color: #fff;
                }

                div.section-host-right-li-left {
                    display: inline-block;
                    float: left;
                }

                div.section-host-right-li-right {
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
}
